In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt 
plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)

In [2]:
names = ['users', 'item', 'rating', 'timestamp']
data = pd.read_csv('TestData/1.csv', names=names)
# remove missing values
data = data.dropna()
print(data.shape)
print(list(data.columns))

(250000, 4)
['users', 'item', 'rating', 'timestamp']

In [3]:
# return the first n rows
data.head()

            users        item  rating   timestamp
0  A140XH16IKR4B0  0739339656     5.0  1186617600
1  A2WM1RJJ5GEDLJ  0739339656     3.0  1399075200
2  A1DYMH30TSRONY  0739339656     4.0  1178841600
3   A23ONJDO01QWF  0739339656     2.0  1365120000
4  A1UKWX15S9SY1U  0739339656     5.0  1308614400

In [4]:
%matplotlib inline
pd.crosstab(data.rating,data.y).plot(kind='bar')
plt.title('Average rating over time')
plt.xlabel('Time')
plt.ylabel('Rating')

AttributeError: 'DataFrame' object has no attribute 'job'